= semantic_form_for @user do |f|
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      %p= msg
  
  = f.semantic_errors
  = f.input :gender, as: :select,collection: User::GENDER_TYPE, required: true
  = f.semantic_fields_for :city do |city_form|
    = city_form.input :name, required: true, label: "City"
  = f.semantic_fields_for :state do |state_form|
    = state_form.input :name, required: true, label: "State"
  = f.semantic_fields_for :country do |country_form|
    = country_form.input :name,  as: :select, collection: Country.all.map(&:name), required: true, label: "Country"
  = f.action :submit, as: :button, class: "btn btn-primary"