%h2 Sign in

= semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
  = f.semantic_errors
  = f.input :email, required: false, autofocus: true 
  = f.input :password, required: false
  = f.action :submit, as: :button, class: "btn btn-primary", label: "Sign in"

= render "devise/shared/links"
