%tr 
  %td= course.title
  %td= course.author.name
  %td= course.lessons.count
  %td= course.check_progress(current_user)
  %td 
    - if course.enrolled?(current_user)
      = link_to "Resume", course, class: "btn btn-success btn-xs"
    - else 
      = link_to "Check", course , class: "btn btn-primary btn-xs"