%h1= @course.title
%p= @course.description
=button_to "Enroll now", @course, data: {title: @course.title} unless @course.enrolled?(current_user)

-if @course.enrolled?(current_user)
  .progress
    .progress-bar.progress-bar-success{role: "progressbar", "aria-valuemin" => "0", "aria-valuemax" => "100", "aria-valuenow" => "50", style: "width: #{@course.check_progress(current_user)}"}
      %span= "#{@course.check_progress(current_user)}"
  %table.table.table-hover
    %thead
      %tr
        %th Lesson
        %th Status
        %th Action
    %tbody
      = render @course.lessons

=link_to "Back to list of courses", courses_path
